solver/bin/
solver/obj/

gui/node_modules
gui/dist/
gui/public/
gui/package-lock.json

data/venv/
data/__pycache__
data/.env

server/venv/
server/__pycache__
server/.env
server/static/
server/uploads/

.vscode/settings.json
